---
import { getCollection } from 'astro:content';
import MainLayout from '../../layouts/MainLayout.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { categoryNames } from '../../data/categories';
import PostCard from '../../components/PostCard.astro';
import Pagination from '../../components/Pagination.astro';

export async function getStaticPaths({ paginate }) {
  const allPosts = await getCollection('blog');
  const sortedPosts = allPosts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
  
  return paginate(sortedPosts, { pageSize: 12 });
}

const { page } = Astro.props;
const uniqueCategories = [...new Set((await getCollection('blog')).map((post) => post.data.category))].filter(Boolean);
---

<MainLayout title={`Астро Блог - Страница ${page.currentPage} | Celestea`} description="Статьи об астрологии, натальных картах, планетах и знаках зодиака. Практические разборы и прогнозы.">
    <Header/>
  <main class="mx-auto px-4 py-12 blog">
    <div class="container">
        <h1 class="text-4xl font-bold text-center mb-4">Астро Блог</h1>
        <p class="text-center text-gray-600 mb-12 text-lg">
        Точечные разборы вашей натальной карты и психологии
        </p>
        
        <div class="flex overflow-x-auto whitespace-nowrap gap-4 mb-12 mt-12 pb-4 scrollbar-hide px-4 justify-start sm:justify-center">
            {uniqueCategories.map((category) => (
                <a href={`/category/${category}/1`} class="inline-block px-4 py-2 rounded-full text-purple-800 hover:bg-purple-200 transition shrink-0 border border-purple-100 bg-white">
                    {categoryNames[category] || category}
                </a>
            ))}
          </div>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mt-8">
            {page.data.map((post) => (
                <article class="bg-white rounded-xl shadow-lg hover:shadow-xl transition-shadow duration-300 overflow-hidden border border-purple-100 flex flex-col h-full">
                    <PostCard post={post} />
                </article>
            ))}
        </div>

        <Pagination page={page} />
    </div>
  </main>
  <Footer/>
</MainLayout>
