---
// 1. Импортируем "кубики"
import MainLayout from '../layouts/MainLayout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Zodiacs from '../components/Zodiacs.astro';
import Notice from '../components/Notice.astro';
import Horoscope from '../components/Horoscope.astro';
import Blog from '../components/Blog.astro';
import Subscribe from '../components/Subscribe.astro';
import Footer from '../components/Footer.astro';
---

<MainLayout title="Celestea — астрология, гороскопы и знаки зодиака" description="Астрологический портал Celestea: персональные гороскопы, знаки зодиака, натальные карты, совместимость, лунные циклы и нумерология.">
    
    <div class="pattern-top-image">
        <Header />
        <Hero />
        <div class="spacer spacer--150"></div>
        <Zodiacs />
        <div class="spacer spacer--150"></div>
    </div>

    <Notice />

    <div class="pattern-bottom-image">
        <div class="spacer spacer--150"></div>
        <Horoscope />
        <div class="spacer spacer--200"></div>
        <Blog />
    </div>

    <Subscribe />
    <Footer />

</MainLayout>