<section class="blog">
    <div class="container">
        <div class="heading">
            <p class="pre-title">Вам понравится</p>
            <h2 class="h1">Интересные статьи</h2>
        </div>
        <div class="swiper-container blog-slider">
            <div class="blog__wrapper swiper-wrapper">
                
                <div class="blog__item swiper-slide">
                    <a href="" class="blog__item-img">
                        <img src="/assets/img/blog_1.png" alt="">
                    </a>
                    <div class="blog__item-info">
                        <h6 class="title">Камни и талисманы для каждого знака</h6>
                        <p class="text">Таким образом, курс на социально-ориентированный национальный проект напрямую зависит от существующих финансовых и административных условий. Сложно сказать, почему многие известные  объявлены нарушающими общечеловеческие нормы этики и морали</p>
                        <a href="" class="btn btn--outlined">Читать дальше</a>
                    </div>
                    
                </div>
                <div class="blog__item swiper-slide">
                    <a href="" class="blog__item-img">
                        <img src="/assets/img/blog_1.png" alt="">
                    </a>
                    <div class="blog__item-info">
                        <h6 class="title">Камни и талисманы для каждого знака</h6>
                        <p class="text">Таким образом, курс на социально-ориентированный национальный проект напрямую зависит от существующих финансовых и административных условий. Сложно сказать, почему многие известные  объявлены нарушающими общечеловеческие нормы этики и морали</p>
                        <a href="" class="btn btn--outlined">Читать дальше</a>
                    </div>
                    
                </div>
                <div class="blog__item swiper-slide">
                    <a href="" class="blog__item-img">
                        <img src="/assets/img/blog_1.png" alt="">
                    </a>
                    <div class="blog__item-info">
                        <h6 class="title">Камни и талисманы для каждого знака</h6>
                        <p class="text">Таким образом, курс на социально-ориентированный национальный проект напрямую зависит от существующих финансовых и административных условий. Сложно сказать, почему многие известные  объявлены нарушающими общечеловеческие нормы этики и морали</p>
                        <a href="" class="btn btn--outlined">Читать дальше</a>
                    </div>
                    
                </div>
                <div class="blog__item swiper-slide">
                    <a href="" class="blog__item-img">
                        <img src="/assets/img/blog_1.png" alt="">
                    </a>
                    <div class="blog__item-info">
                        <h6 class="title">Камни и талисманы для каждого знака</h6>
                        <p class="text">Таким образом, курс на социально-ориентированный национальный проект напрямую зависит от существующих финансовых и административных условий. Сложно сказать, почему многие известные  объявлены нарушающими общечеловеческие нормы этики и морали</p>
                        <a href="" class="btn btn--outlined">Читать дальше</a>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="swiper-pagination blog-pagination"></div>
    </div>
</section>