<section class="hero">
    <div class="container">
        <div class="hero__wrapper">
            <div class="hero__info">
                <p class="pre-title">Тайны звёзд</p>
                <h1 class="h1 title">Астрология сегодня: от древних знаний к современной жизни</h1>
                <p class="paragraph">Ваш надёжный проводник в мире астрологии, где каждое знание имеет практическое применение</p>
                <a href="" class="btn btn--primary">К статьям</a>
            </div>
            <div class="hero__illustration">
                <img 
                    src="/assets/img/1px.png" 
                    data-src="/assets/img/hero.png"
                    data-srcset="/assets/img/hero_2x.png 2x" 
                    alt="Знаки зодиака в круге на сыетлом звездном фоне">
            </div>
        </div>
    </div>
</section>