<section class="horoscope">
    <div class="container">
        <div class="horoscope__wrapper">
            <div class="horoscope__illustration">
                <img 
                    src="/assets/img/1px.png" 
                    data-src="/assets/img/horoscope.png"
                    data-srcset="/assets/img/horoscope_2x.png 2x" 
                    alt="Гороскоп на 2025 год">
            </div>
            <div class="horoscope__info">
                <p class="pre-title">загляни в будущее</p>
                <h2 class="h1">Гороскоп на 2025 год</h2>
                <p class="paragraph">
                    Узнайте, какие возможности и препятствия готовят для вас звезды. Точный прогноз поможет принимать верные решения и использовать благоприятные периоды.
                </p>
                <a href="" class="btn btn--primary">Прочитать гороскоп</a>
            </div>
        </div>
    </div>
</section>