<section class="notice">
    <div class="container">
        <div class="heading">
            <p class="pre-title">Астрология и нумерология</p>
            <h2 class="h1">Ответы на главные вопросы жизни</h2>
        </div>
        <div class="notice__wrapper">
            <div class="notice__item">
                <img 
                    src="/assets/img/1px.png" 
                    data-src="/assets/img/notice_1.png"
                    data-srcset="/assets/img/notice_1_2x.png 2x" 
                    alt="Персональный гороскоп">
                <h6 class="title">Персональный гороскоп</h6>
                <p class="tiny text">Откройте для себя уникальный путь, предначертанный звездами. Подробный анализ вашей натальной карты и текущих транзитов планет поможет увидеть благоприятные возможности и подготовиться к возможным трудностям. Персональный гороскоп станет вашим надежным компасом в принятии важных решений.</p>
            </div>
            <div class="notice__item">
                <img 
                    src="/assets/img/1px.png" 
                    data-src="/assets/img/notice_2.png"
                    data-srcset="/assets/img/notice_2_2x.png 2x" 
                    alt="Совместимость знаков">
                <h6 class="title">Совместимость знаков</h6>
                <p class="tiny text">Астрология способна раскрыть глубинные аспекты любых отношений – романтических, деловых или дружеских. Детальный анализ взаимодействия планет двух натальных карт покажет сильные стороны союза и потенциальные сложности. Это поможет лучше понимать друг друга и развивать гармоничные отношения.</p>
            </div>
            <div class="notice__item">
                <img 
                    src="/assets/img/1px.png" 
                    data-src="/assets/img/notice_3.png"
                    data-srcset="/assets/img/notice_3_2x.png 2x" 
                    alt="Нумерологический код">
                <h6 class="title">Нумерологический код</h6>
                <p class="tiny text">Каждое число в дате вашего рождения несет особый смысл и энергетику. Нумерологический анализ раскроет ваши скрытые таланты, жизненные задачи и наиболее благоприятные периоды для важных начинаний. Узнайте свои счастливые числа и даты, чтобы использовать энергию чисел себе во благо.</p>
            </div>
            <div class="notice__item">
                <img 
                    src="/assets/img/1px.png" 
                    data-src="/assets/img/notice_4.png"
                    data-srcset="/assets/img/notice_4_2x.png 2x" 
                    alt="Натальная карта">
                <h6 class="title">Натальная карта</h6>
                <p class="tiny text">Момент вашего рождения уникален – это точка отсчета вашего жизненного пути. Расположение планет в этот момент создало неповторимый узор судьбы, записанный в вашей натальной карте. Профессиональный анализ этой карты раскроет ваши природные дарования, покажет лучшие пути их реализации и подскажет направления личностного роста.</p>
            </div>
            <div class="notice__item">
                <img 
                    src="/assets/img/1px.png" 
                    data-src="/assets/img/notice_5.png"
                    data-srcset="/assets/img/notice_5_2x.png 2x" 
                    alt="Лунные циклы">
                <h6 class="title">Лунные циклы</h6>
                <p class="tiny text">Луна – ближайшее к нам небесное тело, чье влияние мы ощущаем каждый день. Понимание лунных ритмов поможет вам грамотно планировать дела, выбирать лучшие дни для важных начинаний и решений. Каждая фаза Луны имеет свою особую энергетику, научившись взаимодействовать с которой, вы сможете достигать своих целей легче и быстрее.</p>
            </div>
            <div class="notice__item">
                <img 
                    src="/assets/img/1px.png" 
                    data-src="/assets/img/notice_6.png"
                    data-srcset="/assets/img/notice_6_2x.png 2x" 
                    alt="Кармические задачи">
                <h6 class="title">Кармические задачи</h6>
                <p class="tiny text">
                    У каждой души есть своя миссия и уроки, которые предстоит пройти в этой жизни. Через анализ положения кармических узлов в вашей натальной карте вы сможете понять свое истинное предназначение, увидеть кармические долги прошлого и задачи на будущее. Это знание поможет вам двигаться по пути духовного развития более осознанно и целенаправленно.
                </p>
            </div>
        </div>
    </div>
</section>