<section class="subscribe">
    <div class="container">
        <div class="heading">
            <p class="pre-title">загляни в будущее</p>
            <h2 class="h1">Подпишись на рассылку</h2>
        </div>
        <div class="subscribe__wrapper">
            <form action="">
                <input type="text" class="input" placeholder="E-mail">
                <button class="btn btn--primary">Отправить</button>
            </form>
        </div>
    </div>
</section>