<section class="zodiac">
    <div class="container">
        <div class="heading">
            <p class="pre-title">Твой знак зодиака</p>
            <h2 class="h1">Узнай всё о своей судьбе в звёздах</h2>
        </div>
        <div class="zodiac__wrapper">
            <a href="" class="zodiac__item">
                <img 
                    src="/assets/img/1px.png" 
                    data-src="/assets/img/aries.png"
                    data-srcset="/assets/img/aries_2x.png 2x"
                    alt="Овен" class="icon">
                <h5 class="title">Овен</h5>
            </a>
            <a href="" class="zodiac__item">
                <img 
                    src="/assets/img/1px.png" 
                    data-src="/assets/img/taurus.png"
                    data-srcset="/assets/img/taurus_2x.png 2x"
                    alt="Телец" class="icon">
                <h5 class="title">Телец</h5>
            </a>
            <a href="" class="zodiac__item">
                <img 
                    src="/assets/img/1px.png" 
                    data-src="/assets/img/gemini.png"
                    data-srcset="/assets/img/gemini_2x.png 2x"
                    alt="Близнецы" class="icon">
                <h5 class="title">Близнецы</h5>
            </a>
            <a href="" class="zodiac__item">
                <img 
                    src="/assets/img/1px.png" 
                    data-src="/assets/img/cancer.png"
                    data-srcset="/assets/img/cancer_2x.png 2x"
                    alt="Рак" class="icon">
                <h5 class="title">Рак</h5>
            </a>
            <a href="" class="zodiac__item">
                <img 
                    src="/assets/img/1px.png" 
                    data-src="/assets/img/leo.png"
                    data-srcset="/assets/img/leo_2x.png 2x"
                    alt="Лев" class="icon">
                <h5 class="title">Лев</h5>
            </a>
            <a href="" class="zodiac__item">
                <img 
                    src="/assets/img/1px.png" 
                    data-src="/assets/img/virgin.png"
                    data-srcset="/assets/img/virgin_2x.png 2x"
                    alt="Дева" class="icon">
                <h5 class="title">Дева</h5>
            </a>
            <a href="" class="zodiac__item">
                <img 
                    src="/assets/img/1px.png" 
                    data-src="/assets/img/libra.png"
                    data-srcset="/assets/img/libra_2x.png 2x"
                    alt="Весы" class="icon">
                <h5 class="title">Весы</h5>
            </a>
            <a href="" class="zodiac__item">
                <img 
                    src="/assets/img/1px.png" 
                    data-src="/assets/img/scorpio.png"
                    data-srcset="/assets/img/scorpio_2x.png 2x"
                    alt="Скорпион" class="icon">
                <h5 class="title">Скорпион</h5>
            </a>
            <a href="" class="zodiac__item">
                <img 
                    src="/assets/img/1px.png" 
                    data-src="/assets/img/saggitarius.png"
                    data-srcset="/assets/img/saggitarius_2x.png 2x"
                    alt="Стрелец" class="icon">
                <h5 class="title">Стрелец</h5>
            </a>
            <a href="" class="zodiac__item">
                <img 
                    src="/assets/img/1px.png" 
                    data-src="/assets/img/capricorn.png"
                    data-srcset="/assets/img/capricorn_2x.png 2x"
                    alt="Козерог" class="icon">
                <h5 class="title">Козерог</h5>
            </a>
            <a href="" class="zodiac__item">
                <img 
                    src="/assets/img/1px.png" 
                    data-src="/assets/img/aquarius.png"
                    data-srcset="/assets/img/aquarius_2x.png 2x"
                    alt="Водолей" class="icon">
                <h5 class="title">Водолей</h5>
            </a>
            <a href="" class="zodiac__item">
                <img 
                    src="/assets/img/1px.png" 
                    data-src="/assets/img/pieces.png"
                    data-srcset="/assets/img/pieces_2x.png 2x"
                    alt="Рыбы" class="icon">
                <h5 class="title">Рыбы</h5>
            </a>
        </div>
    </div>
</section>